In [41]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [42]:
df=pd.read_csv('covid_dataset.csv')
df.head()

   Age   Gender   Fever   Cough    City       Has_Covid
0   56   Male     102.4   Mild     Mumbai            No
1   19   Female   101.6   Strong   Mumbai            No
2   76   Female   102.0   Mild     Kolkata           No
3   65   Male      99.7   Mild     Bangalore         No
4   25   Female   102.1   Mild     Delhi            Yes

In [43]:
df.columns

Index(['Age', ' Gender', ' Fever', ' Cough ', ' City     ', ' Has_Covid'], dtype='object')

In [44]:
df[" City     "].unique()

array([' Mumbai   ', ' Kolkata  ', ' Bangalore', ' Delhi    '],
      dtype=object)

In [45]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df[" Cough "]=le.fit_transform(df[" Cough "])
df[" Gender"]=le.fit_transform(df[" Gender"])
df[" Has_Covid"]=le.fit_transform(df[" Has_Covid"])
df[" City     "]=le.fit_transform(df[" City     "])
df.head()

   Age   Gender   Fever   Cough    City        Has_Covid
0   56        1   102.4        0           3           0
1   19        0   101.6        1           3           0
2   76        0   102.0        0           2           0
3   65        1    99.7        0           0           0
4   25        0   102.1        0           1           1

In [46]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df["Age"] = scaler.fit_transform(df[["Age"]])
df[" Fever"] = scaler.fit_transform(df[[" Fever"]])

In [10]:
df.describe()

,Age,Gender,Fever,Cough,City,Has_Covid
count,1.000000e+03,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000
mean,6.394885e-17,0.517000,1.119105e-16,0.481000,1.504000,0.482000
std,1.000500e+00,0.499961,1.000500e+00,0.499889,1.089574,0.499926
min,-1.653827e+00,0.000000,-1.748138e+00,0.000000,0.000000,0.000000
25%,-8.798250e-01,0.000000,-9.151625e-01,0.000000,1.000000,0.000000
50%,-1.982304e-02,1.000000,5.664234e-02,0.000000,1.000000,0.000000
75%,8.831790e-01,1.000000,8.202033e-01,1.000000,2.000000,1.000000
max,1.786181e+00,1.000000,1.722594e+00,1.000000,3.000000,1.000000

In [47]:
x=df.drop(' Has_Covid',axis=1)
y=df[' Has_Covid']

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [49]:
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train)

y_pred=knn.predict(x_test)

In [50]:
print("\n model evaluation :")
print('accuracy:', accuracy_score(y_test, y_pred))
print("\nclassification report:\n", classification_report(y_test, y_pred))

 model evaluation :
accuracy: 0.55

classification report:
               precision    recall  f1-score   support

           0       0.57      0.59      0.58       106
           1       0.52      0.50      0.51        94

    accuracy                           0.55       200
   macro avg       0.55      0.55      0.55       200
weighted avg       0.55      0.55      0.55       200

In [51]:
for i in range(1,21):
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    print(f"\n for n_neighbors={i}:")
    print('accuracy:', accuracy_score(y_test, y_pred))

 for n_neighbors=1:
accuracy: 0.495

 for n_neighbors=2:
accuracy: 0.51

 for n_neighbors=3:
accuracy: 0.55

 for n_neighbors=4:
accuracy: 0.55

 for n_neighbors=5:
accuracy: 0.55

 for n_neighbors=6:
accuracy: 0.555

 for n_neighbors=7:
accuracy: 0.505

 for n_neighbors=8:
accuracy: 0.525

 for n_neighbors=9:
accuracy: 0.525

 for n_neighbors=10:
accuracy: 0.53

 for n_neighbors=11:
accuracy: 0.545

 for n_neighbors=12:
accuracy: 0.525

 for n_neighbors=13:
accuracy: 0.535

 for n_neighbors=14:
accuracy: 0.51

 for n_neighbors=15:
accuracy: 0.505

 for n_neighbors=16:
accuracy: 0.525

 for n_neighbors=17:
accuracy: 0.515

 for n_neighbors=18:
accuracy: 0.54

 for n_neighbors=19:
accuracy: 0.545

 for n_neighbors=20:
accuracy: 0.54

In [64]:
import joblib
joblib.dump(knn, 'knn_covid_model.pkl')

['knn_covid_model.pkl']